<h2 class='text-dark'>Registro</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class='field text-dark'>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control ds-input w-30' %>
  </div>

  <div class='field text-dark'>
    <%= f.label :name %><br />
    <%= f.text_field :name, class:'form-control ds-input w-30' %>
  </div>

  <div class='field text-dark'>
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname, class:'form-control ds-input w-30' %>
  </div>

  <div class='field text-dark'>
    <%= f.label :avatar %><br />
    <%= f.text_field :avatar, class:'form-control ds-input w-30' %>
  </div>

  <div class='field text-dark'>
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class:'form-control ds-input w-30', autocomplete: "new-password" %>
  </div>

  <div class='field text-dark'>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class:'form-control ds-input w-30', autocomplete: "new-password" %>
  </div>

  <div class='btn btn-success actions text-dark'>
    <%= f.submit 'Registrarse' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
