<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field text-dark'>
    <%= form.label :title %>
    <%= form.text_field :title, class:'form-control ds-input w-30' %>
  </div>

  <div class='field text-dark'>
    <%= form.label :description %>
    <%= form.text_field :description, class:'form-control ds-input w-30' %>
  </div>

  <div class='field text-dark'>
    <%= form.label :photo %>
    <%= form.text_field :photo, class:'form-control ds-input w-30' %>
  </div>

  <div class="btn btn-success">
    <%= form.submit %>
  </div>
<% end %>
