<div class='container'>
  <h1 class='text-dark'> Tareas </h1>
  <div class='row'>
    <% @tasks.each_slice(3) do |row| %>
        <% row.each do |task| %>
        <div class='col-md-4'>
          <div class='card text-white border-primary'>
            <%= image_tag task.photo, class:'card-img-top' %>
            <div class='body text-center'>
              <h5> <%= task.title %> </h5>
              <p> <%= task.description %> </p>
              <div class='btn-group' role='group' aria-label='Basic example'>
                <%= link_to 'Ver', task_path(task), class:'btn btn-primary' %>
                <% if @tasksusers_completed == 'true' %>
                  <%= link_to 'NO Completado', '#', class:'btn btn-danger' %>
                <% else %>
                  <%= link_to 'Completado', task_tasksusers_path(task) , class:'btn btn-success', method: :post %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <div class='w-100 mt-2'> </div>
    <% end %>
    <%= link_to 'Nueva Tarea', new_task_path, class:'btn btn-info' %>
  </div>
</div>